extends layout

block content 
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#title')
            span.sr-only
              | Toggle navigation
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.icon-bar
          | &#x9;&#x9;&#x9;&#x9;
          a.navbar-brand(href='/')
            | &#x53CC;&#x6C9F;&#x9547;&#x7231;&#x5FC3;&#x5E7C;&#x513F;&#x56ED;
        | &#x9;&#x9;&#x9;
        #title.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                | &#x9996;&#x9875;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                | &#x80B2;&#x513F;&#x7ECF;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                | &#x6B22;&#x4E50;&#x65F6;&#x5149;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                | &#x6211;&#x8981;&#x62A5;&#x540D;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                | &#x5173;&#x4E8E;&#x6211;&#x4EEC;
    |     
    #banner.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#banner', data-slide-to='0')
        |                 
        li(data-target='#banner', data-slide-to='1')
        |                 
        li(data-target='#banner', data-slide-to='2')
        |                 
        li(data-target='#banner', data-slide-to='3')
      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          img(src='images/1.jpg', alt='亲子运动会', style='width:100%;height:500px;')
          |                     
          .carousel-caption(style='font-size: 20px;')
            strong
              | 爱心幼儿园亲子运动会
        |                 
        .item
          img(src='images/2.jpg', alt='亲子运动会', style='width:100%;height:500px;')
          |                     
          .carousel-caption(style='font-size: 20px;')
            strong
              | 爱心幼儿园亲子运动会
        |                 
        .item
          img(src='images/3.jpg', alt='六一文艺汇演', style='width:100%;height:500px;')
          |                     
          .carousel-caption(style='font-size: 20px;')
            strong
              | 爱心幼儿园六一文艺汇演
        |                 
        .item
          img(src='images/4.jpg', alt='十周年庆', style='width:100%;height:500px;')
          |                     
          .carousel-caption(style='font-size: 20px;')
            strong
              | 爱心幼儿园十周年庆
      // Controls
      a.left.carousel-control(href='#banner', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
        |                 
        span.sr-only
          | Previous
      |             
      a.right.carousel-control(href='#banner', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
        |                 
        span.sr-only
          | Next
    // content
    .container-fluid
      .row(style='background-color: gainsboro;padding:20px;')
        .col-md-5
          address
            strong &#x53CC;&#x6C9F;&#x9547;&#x7231;&#x5FC3;&#x5E7C;&#x513F;&#x56ED;
            br
            |                     &#x6E56;&#x5317;&#x7701;&#x8944;&#x9633;&#x5E02;&#x53CC;&#x6C9F;&#x9547;&#x53CC;&#x5357;&#x5C0F;&#x5B66;&#x65C1;
            br
            |                     
            abbr(title='Phone') &#x7535;&#x8BDD;:
            |  0710-2876226
        |             
        .col-md-5
          address
            strong
              | &#x5FAE;&#x535A;:
              a(href='http://weibo.com/u/5309861377', target='_blank') &#x53CC;&#x6C9F;&#x9547;&#x7231;&#x5FC3;&#x5E7C;&#x513F;&#x56ED;
            br
        | &#x9;&#x9;&#x9;
        |             
        .col-md-2
    // footer
    footer
      .container-fluid
        .row
          .col-md-12.navbar-fixed-bottom
            strong
              center &#x53CC;&#x6C9F;&#x9547;&#x7231;&#x5FC3;&#x5E7C;&#x513F;&#x56ED;
    